* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    position: relative;
}

/* Header */
.navbar {
    z-index: 100;
}

.navbar-light .navbar-toggler {
    background-color: #dc4f72 !important;
    color: white;
}

header nav .container .navbar-brand {
    color: rgb(238, 88, 113) !important;
}

.dropdown-toggle::after {
    content: none;
}

header nav .container .navbar-collapse {
    flex-grow: 0 !important;
}

header nav .container .navbar-collapse ul li .active {
    color: rgb(245, 101, 125);
}

header nav .container .navbar-collapse ul li button {
    border: 1px solid rgb(245, 101, 125);
    color: rgb(245, 101, 125);
    font-weight: 500;
    transition: all 0.5s;
}

header nav .container .navbar-collapse ul li button:hover {
    background-color: rgb(245, 101, 125) !important;
    color: white;
}

header nav .container .navbar-collapse ul li {
    position: relative;
    text-align: center;
}

header nav .container .navbar-collapse ul li a::before {
    content: "";
    width: 0%;
    height: 2.5px;
    border-radius: 20px;
    background-color: rgb(245, 101, 125);
    position: absolute;
    bottom: 5px;
    transition: all 1s;
}
.dropdown-item {
    text-align:  left !important;
}
header nav .container .navbar-collapse ul li .dropdown-item::before {
    content: "";
    width: 0%;
    height: 2.5px;
    border-radius: 20px;
    background-color: rgb(245, 101, 125);
    position: absolute;
    bottom: 2px;
    transition: all 1s;
}
header nav .container .navbar-collapse ul li .dropdown-item:hover::before {
    width: 20%;
}
header nav .container .navbar-collapse ul li a:hover::before {
    width: 40%;
}

header nav .container .navbar-collapse ul li a {
    transition: all 0.5s;
}

header nav .container .navbar-collapse ul li a:hover {
    color: rgb(245, 101, 125) !important;
}

/* Carousel */
.carousel {
    padding-top: 90px;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(https://demo.w3layouts.com/demos_new/template_demo/03-03-2021/masterwork-liberty-demo_Free/423112365/web/assets/images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.carousel .container .row .carousel_left button {
    border: 1px solid rgb(245, 101, 125);
    color: rgb(245, 101, 125);
    font-weight: 500;
    transition: all 0.5s;
}

.carousel .container .row .carousel_left button:hover {
    background-color: rgb(245, 101, 125) !important;
    color: white;
}

.carousel .container .row .carousel_right img {
    transform: rotate(180deg);
}

.carousel .container .row .carousel_left h1 {
    font-weight: 500;
}

/* chooseUs */
.chooseUs .container h5 {
    color: rgb(245, 101, 125);
}

.chooseUs .container h1 {
    font-weight: 500;
}

.chooseUs .container .wrapper .row .col-12 .wrapper {
    transition: all 0.7s;
}

.chooseUs .container .wrapper .row .col-12 .wrapper:hover {
    transform: translateY(-10px);
    background-color: white !important;
    box-shadow: 0px 1px 14px -2px rgba(144, 127, 127, 0.75);
}

/* about */
.about .container .aboutus_left h5 {
    color: rgb(245, 101, 125);
}

.about .container .aboutus_left button {
    background-color: rgb(245, 101, 125) !important;
    border: 1px solid rgb(245, 101, 125);
    color: white;
    font-weight: 500;
    transition: all 0.5s;
}

.about .container .aboutus_left button:hover {
    background-color: rgb(247, 52, 84) !important;
}

.about .container .aboutus_right img {
    transition: all 1s;
}

.about .container .aboutus_right img:hover {
    transform: translateY(-20px);
}

.about .container .wrapper .row .col-12 p {
    color: rgb(245, 101, 125);
}

.about .container .wrapper .row .col-12 .wrapper {
    transition: all 0.7s;
}

.about .container .wrapper .row .col-12 .wrapper:hover {
    background-color: white !important;
    box-shadow: 0px 1px 14px -2px rgba(144, 127, 127, 0.75);
}

/* READ MORE */
.readmore {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(https://demo.w3layouts.com/demos_new/template_demo/03-03-2021/masterwork-liberty-demo_Free/423112365/web/assets/images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.readmore .container .wrapper {
    color: white;
}

.readmore .container .wrapper button:hover {
    background-color: rgb(243, 236, 236) !important;
}

.readmore .container .wrapper button {
    transition: all 0.7s;
}

@media only screen and (max-width: 768px) {
    .chooseUs .container p {
        width: 100% !important;
    }
    .readmore .container .wrapper {
        width: 100% !important;
    }
}